* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  display: grid;
  grid: auto 1fr auto / 2fr 3fr 1fr;
  height: 100svh;
}

/* ------- Cookie Notice Buttons ------- */

#cookie-notice {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000b4;
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  font-size: 1.5rem;
}

.cookie-button {
  padding: 0.5rem 2rem;
  margin-left: 0.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  background-color: yellow;
}

.cookie-button:hover,
#button-theme-toggle:hover,
#save-button:hover {
  background-color: gold;
}

/* --------- Media -------- */

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media (max-width: 767px) {
  .container {
    grid-template-rows: auto 1fr auto auto auto;
    grid-template-columns: 1fr;
  }
}
