.right-sidebar {
  grid-column: 3 / 4;
  background-image: linear-gradient(
    to right,
    blue,
    lightblue,
    blue,
    lightblue,
    blue,
    lightblue
  );
  border-left: saddlebrown ridge 10px;
}

.right-sidebar.rdark {
  background-image: linear-gradient(
    to right,
    rgb(0, 0, 100),
    rgb(56, 103, 119),
    rgb(0, 0, 100),
    rgb(56, 103, 119),
    rgb(0, 0, 100),
    rgb(56, 103, 119)
  );
  border-left: rgb(87, 44, 13) ridge 10px;
}

.right-sidebar-text {
  background-color: #000000b4;
  color: white;
  text-align: center;
  margin: 5%;
  padding: 2% 0 2% 0;
  border-radius: 8px;
}

#name-1,
#name-2,
#name-3,
#name-4,
#name-5,
#name-6,
#name-7,
#name-8,
#name-9,
#name-10 {
  font-weight: bold;
  font-size: 1rem;
}

@media (max-width: 767px) {
  .right-sidebar {
    grid-column: 1 / 2;
    border-left: none;
  }
  .right-sidebar.rdark {
    border-left: none;
  }
}
